.idea
.DS_Store
/venv/
/tests/minio-data/.minio.sys/
/tests/minio-data/preprocessed/preprocessed_data-32.pickle
/tests/minio-data/preprocessed/preprocessed_data-64.pickle
/tests/minio-data/preprocessed/preprocessed_data-128.pickle
/tests/minio-data/preprocessed/preprocessed_data-253.pickle
/tests/minio-data/prediction-output/predictions.parquet
/tests/minio-data/prediction-input/domains_todo.parquet
/lstm.egg-info/
/tests/minio-data/prediction-output/predictions.csv
.vscode
.pytest_cache
__pycache__
*.rdb
.coverage
deployment/demo/data/*
deployment/production/.env
.pyre
.pyre_configuration
.watchmanconfig
.mypy_cache
.venv
config.env
*.prof
dist
tmp
.venv
*cache*
poetry.lock
dist
